Connected Services/ServiceReference1/imgURL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ReturnImgURL">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="isbn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReturnImgURLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReturnImgURLResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReturnImgURLSoapIn">
    <wsdl:part name="parameters" element="tns:ReturnImgURL" />
  </wsdl:message>
  <wsdl:message name="ReturnImgURLSoapOut">
    <wsdl:part name="parameters" element="tns:ReturnImgURLResponse" />
  </wsdl:message>
  <wsdl:portType name="imgURLSoap">
    <wsdl:operation name="ReturnImgURL">
      <wsdl:input message="tns:ReturnImgURLSoapIn" />
      <wsdl:output message="tns:ReturnImgURLSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="imgURLSoap" type="tns:imgURLSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReturnImgURL">
      <soap:operation soapAction="http://tempuri.org/ReturnImgURL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="imgURLSoap12" type="tns:imgURLSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReturnImgURL">
      <soap12:operation soapAction="http://tempuri.org/ReturnImgURL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="imgURL">
    <wsdl:port name="imgURLSoap" binding="tns:imgURLSoap">
      <soap:address location="http://localhost:50619/Services/imgURL.asmx" />
    </wsdl:port>
    <wsdl:port name="imgURLSoap12" binding="tns:imgURLSoap12">
      <soap12:address location="http://localhost:50619/Services/imgURL.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>